<div class = "span10"> 
<h2>Frequently Asked Questions</h2>
  <dl>
            <dt>What are the list's form field requirements?</dt>
            <dd><ul><li>No required fields other than FNAME/LNAME</li>
<li>These fields' merge tags must look like the default *|FNAME|*.</li>
<li>Luckily, this application will tell you if and how your list's form field requirements need to be modified to use this button. =D</li></ul></dd>
            <dt>How much does this cost?</dt>
            <dd>Free for now. However, serving up buttons to every visitor of every user's website will cost money soon. As such, just assume there will be a minimal pricing structure at some point. </dd>
			<dt>Why use this service?</dt>
			<dd><ul><li>This is an easy drop-in solution for the facebook-subscribing concept.</li>
				<li>When a 'first time user' of any button produced by this application clicks the button, they authorize this application specifically to hand out their email address again for the next button like this that they come across.</li>
				<li>Once the "MailChimp SimpleSignup" Facebook application is granted permission to pass out an email address of a user's profile, future clicks of the another button will not require this permissions authentication regardless of the list/brand to which the user is subscribing.</li>
				<li>As more websites use this button, it can become a trusted source for speedily creating newsletter subscriptions across the web.</li>
			</ul>
			</dd>
			<dt>Can I have this applications source code?<dt>
			<dd><a href="http://github.com/wnadeau/MailChimp-SimpleSignup">Absolutely</a>. It's open source.</dd>
            <dt>Can you help me paste the code in my Joomlas or Wordpresses?</dt>
            <dd>Nope.</dd>
            <dt>What do I do about this weird error code I see on the button?</dt>
            <dd>Send me an email with the details. winfred AT mailchimp-simplesignup.com</dd>
            
            <dt>Any TOS or agreements when using this software?</dt>
            <dd>Yeah. I can't guarantee anything while this is in beta. Thanks for helping me test! </dd>
            <dt>What other features are you considering?</dt>
            <dd><ul><li>other fields to be grabbed from fbook, location(zip)?,website? derp?</li><li>
other OAuth providers like Facebook?</li><li>360 degree signup solution - allowing fallback to MC hosted form</li></dd>
            </dl>

			        
</div>
