<div class = "span10"> <h2> What is this? </h2>    
<p>SimpleSignup is making the newsletter signup process quicker/easier.
(for facebook users only at the moment)</p > 
<p>Care to give it a try? Sign up for this project's update newsletter!<p>
	<iframe id="preview-iframe" frameborder="0" width="404" height="158" allowtransparency="true" src="<%=server.facebook_basepath%>/button?u=5f96e5e279c0586e9576c5d88&amp;id=8fef72fc78&amp;opt_in=single&amp;signup_prompt=Receive+Updates&amp;color=ffffff&amp;bg_color=5f78ab&amp;font=lucida&amp;fontsize=38&amp;response_text=Thank+you+for+subscribing!+&amp;append_email_to_response=on&amp;style=cozy&amp;response_position=block&amp;response_color=000000&amp;width=404"></iframe>
    <br />
<p>Would you like to put your list's button on your website? Well log right on in!</p>

<h4>Version 0.2</h4>
<h6>now customizable:</h6>
<ul>
<li>Text - Prompt and Response</li>
<li>Font</li>
<li>Font Size</li>
<li>Font Color</li>
<li>Background Color</li>
<li>Response Positioning - scrolling utterly optional</li>
<li>Width</li>
<li>Facebook Logo toggle</li>
<li>"Slim" and "Cozy" styles</li>
<li>Single or Double Opt-in</li>
</ul>
<hr />
<h4>Version 0.1</h4>
<p>Super basic market test slim button with little/no customization</p>
<p>Thank you beta testers.</p>


</div>
