<div class = "span10"> <h2> What is this? </h2>    
<p>SimpleSignup is making the newsletter signup process quicker/easier.
(for facebook users only at the moment)</p > 
<p>Care to give it a try? Sign up for this project's update newsletter!<p>
<iframe src='http://mailchimp-simplesignup.herokuapp.com/button?signup_prompt=Newsletter%20Signup%20through%20Facebook&u=5f96e5e279c0586e9576c5d88&id=8fef72fc78' width='170' height='23' frameBorder='0'></iframe>
    <br />
<p>Would you like to put your list's button on your website? Well log right on in!</p>

</div>
